body {
    text-align: center;
    background-color: black;
}

.book {
    color: aliceblue;
    background-color: rgb(20, 20, 20);
    border: 4px solid aliceblue;
    transition: 0.4s;
    width: 128px;
    border-radius: 20px;
    position: relative;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.book:hover {
    top: -5px;
}

#sub {
    background-color: rgb(15, 15, 15);
    text-align: center;
    border: 4px solid white;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.l {
    display: inline-block;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 32px 32px;
    border: 4px solid white;
    border-radius: 10px;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
}

.notchoosen:before {
    content: "✔";
    opacity: 0;
    position: relative;
    transition: 0.4s;
    left: -20px;
}

.notchoosen:hover:before {
    opacity: 1;
    left: -20px;
}

.choosen:before {
    content: "✔";
    opacity: 1;
    position: relative;
    color: rgb(0, 255, 0);
    transition: 0.4s;
    left: -20px;
}

#start {
    background-color: white;
    margin: 4px 4px;
    padding: 16px 32px;
    font-size: 25px;
    border-radius: 100px;
    border: 4px solid yellow;
    transition-duration: 0.4s;
    cursor: pointer;
}
#start:hover {
    background-color: yellow;
    color: black;
}

.op {
    border:2px solid rgb(17, 172, 17);
    border-radius: 15px;
    background-color: white;
    color: black;
    width: 200px;
    padding: 24px;
    font-size: 20px;
    transition-duration: 0.4s;
    margin: 16px 4px;
    cursor: pointer;
    display: inline-block;
}

.op:hover {
    color: white;
    background-color: green;
}

.hidden {
    opacity: 0;
}

.visible {
    transition: opacity 1s;
    opacity: 1;
}

#content {
    font-size: 32px;
    color: white;
    margin: 16px 32px;
    padding: 16px 32px;
    border: 4px solid white;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#content:hover {
    background-color: white;
    color: black;
}

#exit {
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    left: 0px;
    transition: 0.4s;
    border-radius: 10px;
    cursor: pointer;
    top: 5px;
}

#exit:before {
    position: absolute;
    color: black;
    content: "«";
    opacity: 0;
    transition: 0.4s;
    left: 25px;
}

#exit:hover:before {
    opacity: 1;
    left: 15px;
}

.working {
    background-color: rgb(25, 25, 25);
    border: 4px solid white;
    padding: 16px 32px;
    border-radius: 10px;
    width: 200px;
    transition: 0.4s;
    color: white;
    margin: 10px;
}

.working span {
    position: relative;
    transition: 0.4s;
}

.working:hover span {
    transition: 0.4s;
    padding-left: 20px;
}

.working span:before {
    content: "Ɛ=";
    position: relative;
    transition: 0.5s;
    opacity: 0;
    left: 10px;
}

.working:hover span:before {
    left: -10px;
    transition: 0.5s;
    opacity: 1;
}